@media(max-width:768px){
	.search{
		display:inline-block;
		text-align:center;
	}
	.device{
		display:block;
		margin:30px auto 0 auto;
	}
	.device-small{
		margin-bottom:20px  !important;
		display:block;
		margin:30px auto 0 auto;
	}
	.footer-main{
		ul{
			margin-bottom:20px;
			text-align: center;
		}
		h3{
			text-align:center;
		}
	}
}